* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 10px;
  color: #333;
  font-family: 'omyu_pretty';;
}

input {
  border: 0;
  outline: 0;
  padding: 0 2rem;
}

button {
  cursor: pointer;
  border: 0;
  outline: 0;
  background: none;
  transition: all .2s linear;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  display: block;
}

@font-face {
  font-family: 'omyu_pretty';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-01@1.0/omyu_pretty.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

.App {
  width: 100vw;
  height: 100vh;
  background: #e2f6ff;
}

.App-header {
  width: 100%;
  height: 7rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.App-logo {
  width: auto;
  height: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  padding: 0 2rem;
}

.logo-image {
  width: auto;
  height: 50%;
  object-fit: cover;
}

.App-main {
  width: 100%;
  max-width: 120rem;
  margin: 0 auto;
  height: calc(100% - 14rem);
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}

.App-section {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.section-title { 
  width: 15rem;
  height: 5rem;
  border-bottom: 1px solid #333;
  font-size: 1.6rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.form-style {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
}

.submit-btn {
  width: 7rem;
  height: 3rem;
  background: #FFB8C9;
  border-radius: 0.5rem;
  font-size: 1.2rem;
  font-weight: bold;
  color: #FFFFFF;
}

.submit-btn:hover {
  background: #ff97b0;
}